/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

ul{
  list-style: none;
}

h2{
  font-size: 2.8rem;
}

.container{
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}

  /* GENERAL > BUTTON */
.button{
  display: inline-block;
  background-color: white;
  padding: 0.7em 1.2em;
  border-radius: 100px;
}

.button a{
  text-decoration: none;
  color: black;
}

.button.b-black{
  background-color: #23272A;
}

.button.b-blue{
  background-color: #8EA1E1;
}

.button.b-black a, .button.b-blue a{
  color: white;
}

.button a i{
  padding: 0 10px;
}
  /* --- */

/* ----------- */

/* HEADER */
header{
  background-color: #3161E0;
}

header .container{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

header .container nav li{
  display: inline-block;
  font-weight: bold;
  padding: 0 23px;
}

header .container .button a{
  font-size: 0.8rem;
  font-weight: bold;
}
/* ------------ */

/* JUMBOTRON */
.jumbotron{
  height: 620px;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.jumbotron .content{
  color: white;
  max-width: 750px;
}

.jumbotron .content h1{
  font-size: 3.5rem;
}

.jumbotron .content p{
  font-size: 1.25rem;
  line-height: 1.8rem;
  margin: 50px 0 20px 0;
}

.jumbotron .content .button{
  font-size: 1.25rem;
  margin: 15px;
}
/* ------------ */

/* MAIN */
main section{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* REGOLA GENERALE PER TUTTI I P DENTRO SECTION */
main section p{
  padding-top: 20px;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

  /* GREYS SECTIONS */
main section:nth-child(even){
  background-color: #F6F6F6;
}
  /* --- */

  /* FIRST THREE SECTIONS */
main section:not(:last-of-type) .container{
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}

main section:not(:last-of-type) .text-content{
  flex-basis: 30%;
  padding-top: 35px;
}

main section:not(:last-of-type) .text-content h2{
  font-size: 2.8rem;
}
  /* ---- */

  /* LAST SECTION */
main section:last-of-type{
  flex-direction: column;
}

main section:last-of-type .container{
  text-align: center;
  padding: 100px 0;
}

main section:last-of-type .container img{
  width: 100%;
}

main section:last-of-type .container .star-text{
  background-image: url(../img/stars.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 50px;
}

main section:last-of-type .container .star-text p{
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 40px;
}

main section:last-of-type .container .button{
  margin-top: 50px;
}
  /* --- */

/* -------------- */

/* FOOTER */
footer{
  background-color: #23272A;
  color: white;
  /* ALTEZZA DA TOGLIERE */
  height: 625px;
}

footer .top{
  padding: 50px 0px 20px 0;
  display: flex;
  border-bottom: 1px solid #4A5882;
}

footer .top .social{
  width: calc(100%/3);
  padding-right: calc(100%/8);
}

footer .top .social h3{
  font-size: 1.9rem;
}

footer .top .social .language{
  display: inline-block;
  font-size: 0.9rem;
  margin: 30px 0px 20px 0px;
}

footer .top .social .language img{
  width: 24px;
  vertical-align: middle;
}

footer .top .social .language span{
  margin: 0 4px;
}

/* PER INSERIRE LA BANDIERA DA CSS, MA NON VIENE CENRATA SUL TESTO */
/* footer .top .social .language::before{
  display: inline-block; content: "";
  background-image: url(../img/ita.png);
  background-size: 24px 16px;
  width: 24px;  height: 16px;
} */

footer .top .social .mini-logos a i{
  padding-right: 1rem;
  font-size: 1.2rem;
  color: white;
}

footer .top .menu{
  width: calc(100%/6);
}

footer .top h3, footer .top .menu h4{
  color: #7289DA;
}

footer .top .menu h4{
  padding-bottom: 18px;
}

footer .top .menu nav ul li{
  padding-bottom: 18px;
  font-weight: 500;
}

footer .bottom{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  font-size: 0.8rem;
}
/* -------------- */